<div class="page-header">
  <%= link_to artist_stints_path(@artist), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New stint</h1>
</div>

<%= render 'form' %>
