<div class="page-header">
  <%= link_to artist_super_fan_path(@super_fan.artist, @super_fan), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to artist_super_fans_path(@super_fan.artist), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing Super Fan of <%= @super_fan.artist.name  %></h1>
</div>

<%= render 'form' %>
